.container-lg{
    min-width: 1200px  !important;
    width: auto;
    height: 400px;
    border: 1px solid black;
    margin-top: 10px;
}
.col-lg-6{
    border: 1px solid black;
    width: 550px !important;
    height:50px;
    margin:10px 15px 5px 15px;
    place-content:center;
    font-weight:5px;
    
}
.row{
    margin: 10px;
}

.label{
    font-size: 20px;
    font-weight: bold;
}
.container{
   display: flex; 
   flex-direction: column;
   margin-top: 10px;
}
.btn{
    width:200px !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
input{
    width:400px !important;
    font-weight: bold;
    
}